.footer-logo {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    color: white;
}
.footer-links {
    display: flex;
    gap: 28px;
}
.footer-links-a {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    font-size: 0.85rem;
    transition: color 0.2s;
}
.footer-links-a:hover{
    cursor: pointer;
    color: rgb(90, 255, 90);
}
.footer-copy {
    font-size: 0.82rem;
    color: rgba(255, 255, 255, 0.25);
}
footer {
    background: #0f1f15;
    padding: 48px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}