PORT=3000
CORS_ORIGIN=http://localhost:5173/
MONGODB_URI=mongodb://localhost:27017/foodtech
JWT_SECRET_KEY=your_jwt_secret
REFRESH_TOKEN_SECRET_KEY=your_refresh_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=7d
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

REDIS_URL=your_redis_url
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret